@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Volkhov:wght@400;700&display=swap");


/* root variables */
:root {
  --primary-orange: hsl(26, 98%, 61%);
  --secondary-orange: #fa7436;
  --primary-bg: #fefcfb;
  --secondary-bg: #f7f8fc;
  --dark-gray: #666666;
  --light-gray: #999999;
  --poppins: "Poppins", serif;
  --volkhov: "Volkhov", serif;
}

/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-style: normal;
    font-family: var(--poppins);
}

.header-section {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container > h3 {
    font-family: var(--volkhov);
    font-size: 1.5rem;
}

.logo-img {
    height: 18px;
}

.nav-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container > ul {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.nav-container > ul > li > a {
    color: #000;
}

.btn-container {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-container > a {
    font-size: 14px;
    color: var(--primary-orange);
    transition: all 0.3s ease;
} 

.btn-container > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header-btn {
    padding: 10px 20px;
    background-color: var(--secondary-orange);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--primary-bg);
    font-family: var(--poppins);
    transition: all 0.3s ease;
}

.header-btn:hover {
    background-color: black;
    color: var(--primary-bg);
}


